
/*Header text*/
h1 {
    font-family: Times;
    font-style : normal;
    font-weight: Normal;
    font-size: 14pt;
    text-align: center;
    color: #ffffff;
}

/* markdown text */
body {
    font-family: Georgia;
    font-style : normal;
    font-weight: Normal;
    font-size: 12pt;
    text-align: center;
    color: #ffffff;
}
